/* COLORS */

/* 
BLUE: #00b8ff
WHITE: #fafaff
DARK GREY: #101010
LIGHT GREY: #333333
*/

html {
	scroll-behavior: smooth;
}

/* BODY */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif, Arial, Helvetica;
	scroll-behavior: smooth;
	color: #fafaff;
	background-color: #101010;
}

/* HEADER */
.header-container {
	background-color: #101010;
	max-width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

/* HEADER WRAPPER */
.header-wrapper-middle {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 55px;
}

@media screen and (max-width: 350px) {
	.header-wrapper-middle {
		margin-left: 0;
	}
}

/* H1 TITLE */
/* h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
} */

/* LINKS A:HREF */
a {
	font-weight: bold;
}

/* NAV LINKS */

.nav-links {
	text-decoration: none;
	color: #00b8ff;

	font-weight: bold;
	font-size: 18px;
	margin: 5px 15px;
	padding: 5px 10px;
}

.nav-links:hover {
	color: #fafaff;
}

@media screen and (max-width: 850px) {
	.header-wrapper-middle {
		max-width: 100%;
	}
	.gael-src-main-link {
		font-size: 14px;
		margin: 2px;
		padding: 5px;
	}
	.nav-links {
		font-size: 14px;
		margin: 2px;
		padding: 5px;
	}
	.nav-links-contact {
		font-size: 14px;
		margin: 2px;
		padding: 5px;
	}
}

@media screen and (max-width: 300px) {
	.header-wrapper-right {
		display: none;
	}
	.header-wrapper-left {
		display: none;
	}
}

/* MAIN TEASER*/
.main-container {
	position: relative;
	background-color: #000;
	height: 100vh;
	max-width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	overflow: hidden;
}
.main-container-parallax {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main-container-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: url("./assets/dominik-lange-unsplash.jpg");*/
	background-size: cover;
}
/* H2 */
#greeting-h2 {
	font-size: 33px;
	margin: 0 0 20px 0;
	padding: 0;
	color: #fafaff;
}

/* GREETING TEXT */
.greeting-text {
	color: #fafaff;
	margin: 10px;
	padding: 0;
	font-size: 18px;
}

@media screen and (max-width: 350px) {
	#greeting-h2 {
		word-break: break-all;
		font-size: 28px;
	}
	.greeting-text {
		font-size: 16px;
	}
}

/* GREETING TEXT WRAPPER */
.greeting-text-wrapper-up {
	margin: 20vh 5px 0 70px;
}

.greeting-text-wrapper-middle {
	margin: 5px 0 5px 70px;
}

.greeting-text-wrapper-middle > p {
	margin: 0 0 5px 0;
	padding: 0;
}

.greeting-text-wrapper-down {
	position: relative;
	margin: 5px 5px 5px 70px;
	padding: 50px 0;
}

@media screen and (max-width: 850px) {
	.greeting-text-wrapper-up {
		margin: 25vh 5px 0 50px;
	}

	.greeting-text-wrapper-middle {
		margin: 0 0 5px 50px;
	}

	.greeting-text-wrapper-down {
		margin: 5px 5px 5px 50px;
		padding: 50px 0;
	}
}

@media screen and (max-width: 350px) {
	.greeting-text-wrapper-up {
		margin: 25vh 5px 5px 5px;
	}

	.greeting-text-wrapper-middle {
		margin: 5px;
	}

	.greeting-text-wrapper-down {
		margin: 5px;
	}
}

/* GAEL ABOUT LINK */
.gael-about-link {
	color: #00b8ff;
	font-size: 18px;
	margin: 0;
	padding: 5px 0;
	text-decoration: none;
}

.gael-about-link:hover {
	color: #fafaff;
}

/* CALL TO ACTION */
.works-call-to-action {
	color: #fafaff;
	border: solid 2px #fafaff;
	border-radius: 8px;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 20px;
	height: fit-content;
}

.works-call-to-action:hover {
	color: #00b8ff;
	background-color: #fafaff;
	border: solid 2px #fafaff;
}

/* SECTION TITLE H3 */
.section-title {
	color: #fafaff;
	font-size: 28px;
	margin: 20px 80px;
}

.section-title-black {
	color: #101010;
	font-size: 28px;
}

.section-title-about {
	margin: 75px 80px 0px;
}

.section-title-works {
	margin: 0 0 0 80px;
}

/* MAIN WORKS */
.main-works {
	max-width: 100%;
	min-height: 100vh;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	background-color: #fafaff;
}

/* PROJECTS CONTAINER */
.projects-container {
	max-width: 100%;
	min-height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 10px 60px;
}

@media screen and (max-width: 350px) {
	.projects-container {
		padding: 10px;
	}
}

/* PROJECT WRAPPER */
.project-wrapper {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	background-color: #333333;
	color: #fafaff;
	margin: 60px 30px;
	padding: 0;
	min-width: 250px;
	border-radius: 15px;
}

@media screen and (max-width: 350px) {
	.project-wrapper {
		margin: 50px auto;
	}
}

/* PROJECT PICTURE */
.project-picture {
	width: 250px;
	height: 250px;
	border-radius: 15px 15px 0 0;
}

.project-picture:hover {
	box-sizing: border-box;
	border: solid 3px #333333;
}

/* INFO WRAPPER  */
.info-wrapper {
	max-width: 100%;
	height: auto;
	margin: 15px 0;
	padding: 20px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* align-items: center; */
}

.info-wrapper > * {
	max-width: fit-content;
}

/* INFO TITLE */
.info-title {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0;
	padding: 5px 0;
}

/* DESCRIPTION */
.description {
	/* margin: 5px 0 25px 0; */
	margin: 5px 0 10px;
	padding: 5px 0;
}

/* INFO LINKS */
.info-links {
	text-decoration: none;
	color: #00b8ff;
	font-size: 16px;
	margin: 5px 0;
	padding: 5px 0;
}

.info-links:hover {
	color: #fafaff;
}

/* MAIN SKILLS */
.main-skills {
	color: #fafaff;
	background-color: #101010;
	max-width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.info-title-skills {
	font-size: 22px;
	margin: 0 0 20px 0;
}

/* SKILLS CONTAINER */
.skills-container {
	max-width: 100%;
	padding: 10px 80px;
	display: flex;
}

@media screen and (max-width: 850px) {
	.skills-container {
		flex-direction: column;
	}
}

/* SKILLS WRAPPER */
.skills-wrapper {
	width: 33.33%;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.skills-wrapper,
p {
	margin: 6px 0;
	line-height: 1.5;
}

@media screen and (max-width: 850px) {
	.skills-wrapper {
		width: 100%;
	}
}

/* MAIN ABOUT */
.main-about {
	max-width: 100%;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	background-color: #fafaff;
}

.about-wrapper {
	color: #101010;
	max-width: 100%;
	min-height: 80vh;
	margin: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

@media screen and (max-width: 850px) {
	.about-wrapper {
		max-width: 100%;
		margin: 10px;
	}
}

.about-wrapper > h4 {
	margin: 0 0 20px 0;
}

/* QUOTE */
.about-quote-wrapper {
	margin: 80px 0 50px;
	font-size: 13px;
}
/* FOOTER */
.footer-container {
	background-color: #101010;
	background-image: url("./assets/elliott-engelmann-unsplash.jpg");
	background-size: cover;
	max-width: 100%;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

@media screen and (max-width: 850px) {
	.footer-container {
		background-image: none;
	}
}

.contact-container-footer {
	display: flex;
	margin: auto 0 60px 60px;
	min-height: 10vh;
	max-width: 100%;
}

@media screen and (max-width: 850px) {
	.contact-container-footer {
		flex-direction: column;
		margin-top: 10vh;
	}
}

.media-links {
	margin: 20px;
	font-size: 18px;
}
